.services {
  h3 {
    margin-left: 8.75em;
  }
}

.service {
  margin-top: 1em;
  margin-bottom: 3em;
  display: flex;

  .service-image {
    font-size: 4em;
    display: block;
    width: 2.5em;
    text-align: center;
  }

  .service-content {
    margin-left: 2em;

    h4 {
      font-size: 1.1em;
      font-weight: bold;
    }

    p {
      font-size: .9em;
      margin-top: 1em;
    }
  }
}
