$color-lava: #c60f22;
$color-orange: #f46036;
$color-space-cadet: #5a5584;
$color-blue: #465ab9;
$color-jungle-green: #1b998b;
$color-june-bed: #c5d86d;
$color-yellow: #fee73e;

$color-gray-lightest: #efefef; //rgba(0,0,0,.1);
$color-gray-lighter: #c3c3c4; // rgba(0,0,0,.23333);
$color-gray-dark: #606060; // rgba(0,0,0,.63333);
$color-gray-darkest: #333; // rgba(0,0,0,.9);

$color-background: $color-gray-lightest;
$color-text: $color-gray-darkest;
$color-link: $color-blue;
$color-about: $color-orange;
$color-skills: $color-june-bed;
$color-contact: $color-jungle-green;

$color-linkedin: #2867B2;

$color-success: $color-june-bed;
$color-error: $color-lava;

$fa-font-path: "fonts";
