@media (max-width: 770px) {
    .wrapper {
        margin: 1em;
    }

    header {
        position: static;
        display: block;
        z-index: auto;
        width: auto;

        .bar {
            width: 100%;
        }
    }

    main {
        padding: 0;
    }

    body {
        font-size: 130%;
    }

    dl {
        position: static;
        left: 0;
        display: block;
        width: auto;

        dt {
            float: left;
            width: 200px;
        }
    }

    .language-menu {
        right: 1em;
    }
}
