@media (max-width: 770px) {
    .wrapper {
        margin: 1em 1em 2em 1em;
    }

    header {
        position: static;
        display: block;
        z-index: auto;
        width: auto;

        .bar {
            width: 100%;

            &:after {
                content: none;
            }
        }
    }

    main {
        padding: 0;
    }

    body {
        font-size: 135%;
    }

    h1 {
        font-size: 1.4em;
    }

    h2, h3 {
        font-size: 1.1em;
    }

    dl {
        position: static;
        left: 0;
        display: block;
        width: auto;

        dt {
            float: left;
            clear: left;
            width: 200px;
        }
    }

    .language-menu {
        right: 1em;
    }
}

@media (max-width: 500px) {
    dl {
        dt {
            float: none;
            text-align: left;
        }
    }
}