@media (max-width: 770px) {
    .wrapper {
        margin: 1em;
    }

    header {
        position: static;
        display: block;
        z-index: auto;
        width: auto;

        .bar {
            width: 100%;

            :after {
                content: none;
            }
        }
    }

    main {
        padding: 0;
    }

    body {
        font-size: 150%;
    }

    h1 {
        font-size: 1.7em;
    }

    h2, h3 {
        font-size: 1.1em;
    }

    dl {
        position: static;
        left: 0;
        display: block;
        width: auto;

        dt {
            float: left;
            width: 200px;
        }
    }

    .language-menu {
        right: 1em;
    }
}
