<footer>
    <div class="links">
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
    </div>
    <p>
        &copy; Thomas Vanderhaeghen 2019<br>
        Photo by <a href="https://www.kidwest.work/" target="_blank">kidwest</a>
    </p>
</footer>
