<section class="about">
    <h3>About</h3>
    <p class="lead">
        My name is Thomas Vanderhaeghen. I'm a developer with 8+ years of experience.
    </p>
    <p>
        I blend knowledge and practical experience in <a href="/skills" onclick="return pagination.onPageClick(this)">PHP Development, DevOps and front-end development</a>.<br>
        All while keeping updated with the most recent technologies and always seeking to improve and grow as a professional and as a person.
    </p>
    <p>
        I'm available for <a href="/services" onclick="return pagination.onPageClick(this)">freelance, consultancy and training jobs</a>.
    </p>
</section>
