<section class="services">
    <h3>Services</h3>

    <div class="service">
        <div class="service-image">
            <i class="fas fa-lightbulb"></i>
        </div>
        <div class="service-content">
            <h4>Consultancy</h4>
            <p>Work together with your team and solve your day-to-day challenges.</p>
        </div>
    </div>

    <div class="service">
        <div class="service-image">
            <i class="fas fa-code"></i>
        </div>
        <div class="service-content">
            <h4>Development</h4>
            <p>Custom software development and legacy application maintenance.</p>
        </div>
    </div>

    <div class="service">
        <div class="service-image">
            <i class="fas fa-book"></i>
        </div>
        <div class="service-content">
            <h4>Training</h4>
            <p>PHP and DevOps trainings for more scalable business solutions.</p>
        </div>
    </div>

    {% include '_knowmore.html.twig' %}
</section>
