<section class="skills">
    <h3>Skills</h3>
    <ul>
        <li>
            <div>PHP</div>
            <div class="progressbar p95">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>CSS/SASS</div>
            <div class="progressbar p95">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Javascript / Typescript</div>
            <div class="progressbar p80">
                <div class="progressbar-inner"></div>
            </div>
        </li>

        <li class="space-top">
            <div>SQL</div>
            <div class="progressbar p85">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Redis</div>
            <div class="progressbar p80">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Elastic</div>
            <div class="progressbar p65">
                <div class="progressbar-inner"></div>
            </div>
        </li>

        <li class="space-top">
            <div>Linux</div>
            <div class="progressbar p60">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Docker / Vagrant</div>
            <div class="progressbar p70">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Kubernetes</div>
            <div class="progressbar p60">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Amazon AWS</div>
            <div class="progressbar p60">
                <div class="progressbar-inner"></div>
            </div>
        </li>
        <li>
            <div>Google cloud</div>
            <div class="progressbar p60">
                <div class="progressbar-inner"></div>
            </div>
        </li>

        <li class="space-top">
            <div>Scrum / Agile</div>
            <div class="progressbar p80">
                <div class="progressbar-inner"></div>
            </div>
        </li>
    </ul>

    {% include '_knowmore.html.twig' %}
</section>
